<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f50fe505-f571-4192-bad5-4148bf2b4368/resourcegroups/rgProject2/providers/Microsoft.Web/sites/ConnectedOffice-31993729</ResourceId>
    <ResourceGroup>rgProject2</ResourceGroup>
    <ApiResourceId>/subscriptions/f50fe505-f571-4192-bad5-4148bf2b4368/resourceGroups/rgProject2/providers/Microsoft.ApiManagement/service/apim-project2-31993729/apis/connecteoffice-31993729</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://connectedoffice-31993729.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>caf45d34-b0c6-4261-bf52-ee0643765570</ProjectGuid>
    <MSDeployServiceURL>connectedoffice-31993729.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConnectedOffice-31993729</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ConnectedOffice-31993729</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>